/*basic styling page*/

html,body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.2;
    height:100%;
    margin:0;
}
#wrapper{
    background-image:url("../images/circles-dark.png");
    margin-bottom:-70px;
    height:100%;
}
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#top{
    background: rgb(80, 80, 80);
    height: 80px;   
}
#top-inner{
    width:94%;
    margin-right:auto;
    margin-left:auto;
}
#Name{
    color: white;
    width:250px;
    font-size: 35px;
    height: 60px;
    margin-top: 5px;
    padding-top: 20px;
    border-top:2px solid rgb(252, 186, 63);
    border-left:2px solid rgb(248, 197, 101);
    border-right:2px solid rgba(36, 36, 36, 0.76);
    border-bottom:2px solid rgba(36, 36, 36, 0.76);
    border-top-left-radius: 35px;
    box-shadow: 4px 2px 4px rgb(48, 48, 48);
    text-align: center;
    background-color: orange;
    float:left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.nav_bar{
    float:right;
    width: 300px;
}
.nav_bar > ul{
    height: 80px;
}
.nav_bar > li{
    text-align:right;
    display:block;
    position:relative;
    float: left;
    padding:15px;
    margin: 5% 0% 0% 5%;
}
.nav_bar > li >a{
    color: orange;
    text-decoration: none;

}
.nav_bar > li > a:hover
{
    color:red;
    height: 80px;
}


#content960{ 
    clear:both;
    width:60%;
    float: left;
    margin-left:3%;
    background-color: rgba(211, 211, 211, 0.85);
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 480px;
}

#sideBar{
    width: 30%;
    float:left;
    margin-left:2%;
    background-color: rgba(211, 211, 211, 0.85);
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 480px;
    padding:10px;
}
#sideBar ul> li>span>a{
    padding:10px;
    display: block;
    line-height: 2;
    text-decoration: none;
}
#sideBar h2 {
    color:white;
    text-align: center;
    font-size: 20px;
    padding-left: 3%;
    padding: 2%;
    border-radius: 10px;
    background-color: orange;
    border-bottom: 3px solid grey;

}


#aboutme {
    color:orange;
    font-size: 35px;
    padding-left: 3%;
    padding-top: 2%;
}
#aboutMeow, #contactMeow, #portfolio{
    border-top: 3px solid grey;
    padding: 12px;
    margin: 20px;
}

img{
    float: left;
    padding:1% 2% 1% 0;
    max-width: 200px;
}

p{
    padding:1%;
}

.footer{
    clear: both;
    height:40px;
    background-color: dimgrey;
    border-top: 8px solid orange;
    padding-top: 30px;
    text-align:center;
    font-size: 12px;
}
form{
    margin: 10px;
}

.form_format{
   margin: 3px;
   padding-left:10px;
}
input{
    height:30px;
    margin:10px;
    width:100%;
    font-size:15px;
}
textarea{
    margin:10px;
    width:100%;
    height: 100px;
    font-size:15px;

}

.SubmitBtn{
    background-color: orange;
    color:white;
    border-radius: 8px;
    font-size: 20px;
    width:20%;
    height: 40px;
    clear:both;
    padding: 5px;
}
.SubmitBtn:hover{
    background-color: rgb(224, 121, 80);
}

/*
.oneThird{
    width:30%;
    height: 260px;
    margin: 1%;
    padding:0.5%;
    float:left;
    background-color:white;
    box-shadow: 2px 3px 2px grey;
}

.oneThird img{
    max-width: 60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:12%;
}
.oneThird img:hover{
    margin-top:10%;
    outline: 5px dotted orange;
    outline-offset: -2px;
}

.oneThird span{
    background-color: orange;
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    padding: 5%;
    margin: 4%;
    text-align: center;
} */

.showCase{
    width:40%;
    max-height: 30%;
    margin: 1.0em 0.8em;
    padding: 0.5em;
    padding-bottom: 8%;
    margin-bottom: 8%;
    float:left;
    background-color:white;
    box-shadow: 2px 3px 2px grey;
}

.showCase img{
    max-width: 60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:12%;
}
.showCase img:hover{
    margin-top:10%;
    outline: 5px dotted orange;
    outline-offset: -2px;
}

.showCase span{
    background-color: orange;
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    padding: 5%;
    margin: 4%;
    text-align: center;
}
